# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual C++ files 
.vs 
ipch 
*.opendb 
*.sdf 
Debug
Release
*.db
*.user
*.pdb
*.idb
*.ilk

# External library directory 

/bin/*.iobj
/bin/*.ipdb

# Log
logs/
log*
temp

# TeX temp files
*.aux
*.fls
*.log
*.tex
*.synctex.gz
*.toc
/doc/design/*.fdb_latexmk
